* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    align-items: center;


    section {
        display: flex;
        flex-direction: column;
    }

    p {
        text-indent: 10px;
    }

    img {
        width: 15px;
        height: 15px;
        margin: 5px;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.2);
    }
}